//colors
$lblue: lightblue;

//Spacings
$desktopSpacing: 5vw;
$mobileSpacing: 2.5vw;

//Font sizes
$px16: 1.2vw;
$px16m: 4.3vw;

$px24: 1.75vw;
$px24m: 6.4vw;

$px28: 2vw;
$px28m: 7.46vw;

$px32: 2.35vw;
$px32m: 8.5vw;
