@import "_base";

#contact {
  h2 {
    color: $lblue;
  }
  a {
    color: unset;
    text-decoration: unset;
  }
}

.album .card-body {
  padding: 2vw;
}

/*mobile only*/
@media screen and (max-width: 768px) {
  .album .card-body {
    padding: 5vw;
  }
}
