@import "_base";

body {
  background: black;
  color: white;
  font-family: monospace;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px -20px 50px 10px $lblue;
  z-index: 10;
  background: black;
  .nav-link {
    font-size: $px16;
  }
}

.navbar-brand {
  display: inline-flex;
  span {
    font-size: 1.5vw;
  }
  img {
    margin-right: 0.75vw;
    width: 1.8vw;
  }
}


header {
  padding-left: $desktopSpacing;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 3vw;
  span {
    color: $lblue;
  }
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: $px32;
}

h3 {
  font-size: $px28;
}

p, ul {
  font-size: $px16;
}

#globe {
  pointer-events: none;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: $desktopSpacing;
  transform: translateY(-50%);
  display: flex;
  overflow: hidden;
  iframe {
    width: 35vw;
    height: 35vw;
  }
}


.tiles {
  .row {
    .col-12 {
      min-height: 25vw;
      position: relative;
      overflow: hidden;
      h2, p {
        padding-top: 2vw;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

footer {
  p {
    font-size: $px16;
  }
}

.partner-logo {
    display: flex;
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
    &:hover {
      opacity: .5;
      transition: .5s ease-in-out;
    }
}

/*interconnect padding left*/
.itc-pl {
  padding-left: $desktopSpacing;
}

/*interconnect padding right*/
.itc-pr {
  padding-right: $desktopSpacing;
}

.accordion-item, .accordion-button, .accordion-button:not(.collapsed) {
  background: transparent;
}
.accordion-button {
  font-size: $px16;
  color: white;
  &::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  &:hover, &:not(.collapsed) {
    color: $lblue;
    &::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='lightblue'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  }
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  appearance: none;
}
.accordion-body {
  color: white;
  font-size: $px16;
}

.form-modal .modal-content {
  background: black;
  box-shadow: 0px 0px 1vw 0px white;
}

/*desktop only*/
@media screen and (min-width: 769px) {
  .tiles {
    .row {

      &:nth-child(even) {
        .col-12 {
          text-align: right;
          & > *:not(img) {
            padding-right: $desktopSpacing;
          }
          p {
            padding-left: 10vw;
            padding-right: $desktopSpacing;
          }
        }
      }

      &:nth-child(odd) {
        .col-12 {
          &:first-child {
            order: 1;
          }
          & > *:not(img) {
            padding-left: $desktopSpacing;
          }
          p {
            padding-right: 10vw;
          }
        }
      }

    }
  }
}

ul {
  list-style: square;
  list-style-position: inside;
}

/*mobile only*/
@media screen and (max-width: 768px) {

  .navbar-brand {
    span {
      font-size: 6vw;
    }
    img {
      margin-right: 2vw;
      width: 8vw;
    }
  }

  .navbar {
    .nav-link {
      font-size: $px16m;
    }
  }

  header {
    padding-left: 0;
  }

  h1 {
    text-align: center;
    font-size: 8vw;
  }

  h2 {
    font-size: $px32m;
  }

  h3 {
    font-size: $px28m;
  }

  p, ul {
    font-size: $px16m;
  }

  #globe {
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    iframe {
      width: 90vw;
      height: 90vw;
    }
  }

  .tiles {
    .row {
      .col-12 {
        min-height: 50vw;
        & > *:not(img) {
          padding: 5vw $mobileSpacing 0;
        }
      }
    }
  }

  footer {
    padding-left: $mobileSpacing;
    p {
      font-size: $px16m;
    }
  }


  /*interconnect padding left*/
  .itc-pl {
    padding-left: $mobileSpacing;
  }

  /*interconnect padding right*/
  .itc-pr {
    padding-right: $mobileSpacing;
  }

  .accordion-button {
      font-size: $px16m;
  }

  .accordion-body {
    font-size: $px16m;
  }

}
