@import "_base";

q {
  color: $lblue;
  font-style: italic;
}

.profile {
  .profile-img {
    margin: 2vw auto;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 1px dashed white;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }
  }
  h3 {
    color: $lblue;
  }
  p {
    font-style: italic;
  }
}


/*mobile only*/
@media screen and (max-width: 768px) {
  .profile {
    .profile-img {
      width: 45vw;
      height: 45vw;
      margin: 5vw auto;
    }
  }
}
