q{color:#add8e6;font-style:italic}.profile .profile-img{margin:2vw auto;width:10vw;height:10vw;overflow:hidden;border-radius:50%;position:relative;border:1px dashed white}.profile .profile-img img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);height:100%}.profile h3{color:#add8e6}.profile p{font-style:italic}@media screen and (max-width: 768px){.profile .profile-img{width:45vw;height:45vw;margin:5vw auto}}
/*# sourceMappingURL=o-nas.css.map */
