@import "_base";

h3 {
  color: $lblue;
}

.content {
  width: 75%;
  padding-right: 2rem;
  font-size: $px16;
}

#openFormButton {
  font-size: $px16;
}

.offer-info {
  width: 25%;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid white;
  font-size: $px16;
}


@media screen and (max-width: 769px) {
  .offer-wrapper {
    flex-flow: column;
    flex-direction: column-reverse;
    .content {
      width: auto;
      padding-right: 0;
      font-size: $px16m;
    }
    .offer-info {
      width: 100%;
      border-radius: 3px;
      border: 1px solid white;
      font-size: $px16m;
    }
  }

  #openFormButton {
    font-size: $px16m;
  }
}
