@import "_base";


.ponuka {
  font-size: $px16;
  h3 {
    color: $lblue;
  }

  .offer-desc {
    width: 50%;
  }

  .time-left {
    color: gray;
  }

  .button-wrapper {
    width: auto;
    a {
      font-size: $px16;
    }
  }

}


@media screen and (max-width: 769px) {
  .ponuka {
    font-size: $px16m;
    .offer-desc {
      width: 70%;
    }
    .button-wrapper {
      width: 30%;
      a {
        font-size: $px16m;
      }
    }
  }
}
