h3{color:#add8e6}.content{width:75%;padding-right:2rem;font-size:1.2vw}#openFormButton{font-size:1.2vw}.offer-info{width:25%;padding:1rem;border-radius:3px;border:1px solid white;font-size:1.2vw}@media screen and (max-width: 769px){.offer-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.offer-wrapper .content{width:auto;padding-right:0;font-size:4.3vw}.offer-wrapper .offer-info{width:100%;border-radius:3px;border:1px solid white;font-size:4.3vw}#openFormButton{font-size:4.3vw}}

/*# sourceMappingURL=pracovna-ponuka-detail.css.map */