<div class="modal fade" id="{{ "confirmationModal" ~ id}}" tabindex="-1" role="dialog" aria-labelledby="{{ "confirmationModal" ~ id}}" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Porvrdenie zmazania</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Naozaj chcete túto položku vymazať?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success" href="{{ submitPath }}">Áno</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nie</button>
      </div>
    </div>
  </div>
</div>
