<!DOCTYPE html>
<html lang="sk" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title>INTERCONNECT ADMIN | {% block title %}Nástenka{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/img/logo-black.svg">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/admin/master.css">
      {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
      {% endblock %}

      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="/js/admin/master.js"></script>
      {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
      {% endblock %}
    </head>
    <body>
        <!--NAVIGACIA-->
        <div class="navbar mobile-navbar bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <button id="sidebarCollapse" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>

        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light active">
          {% set route = app.request.get('_route') %}
          <a href="/" class="navbar-brand d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none">
          <!--<a class="navbar-brand" href="/">-->

            <img src="/img/logo-black.svg" alt="Interconnect logo" width="25">
            <span>INTERCONNECT</span>
          <!--</a>-->
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="{{ path('admin_index') }}" class="nav-link {% if route == 'admin_index' %}active{% else %}link-dark{% endif %}" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Nástenka
              </a>
            </li>
            <li>
              <a href="{{ path('admin_offers') }}" class="nav-link {% if route starts with 'admin_offers' %}active{% else %}link-dark{% endif %}">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Pracovné ponuky
              </a>
            </li>
            <li>
          <a href="{{ path('admin_partners') }}" class="nav-link {% if route starts with 'admin_partners' %}active{% else %}link-dark{% endif %}">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Partneri
              </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a href="{{ path('admin_user_management') }}" class="nav-link {% if route starts with 'admin_user_management' %}active{% else %}link-dark{% endif %}">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Správa používateľov
              </a>
            </li>
            {% endif %}
            <!--<li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Customers
              </a>
            </li>-->
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              {#<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">#}
              <strong>{{ app.user.username }}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              {#<li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>#}
              <li><a class="dropdown-item" href="{{ path('admin_logout') }}" >Odhlásiť sa</a></li>
            </ul>
          </div>
        </div>

        <!--OBSAH STRANKY-->
        <div class="px-5">
          <h1>{{ block('title') }}</h1>
          <hr>
          {% block body %}{% endblock %}
        </div>

        <!-- PATICKA -->
        <!--<footer class="itc-pl">
          <div class="container-fluid">
            <p>&#169; 2023 • Marek Skukálek • Všetky práva vyhradené</p>
          </div>
        </footer>-->
    </body>
</html>
