<!DOCTYPE html>
<html lang="sk" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INTERCONNECT ADMIN</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/img/logo-black.svg">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/css/admin/login.css" />
    </head>

<body>

<img class='splash img-fluid position-fixed' src="/img/admin-splash.jpg" alt="Admin splash" />

<div class="modal d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zóna pre zamestnancov</h5>
      </div>
      <div class="modal-body">
        <!--Login formulár-->
        <form action="{{ path('admin_index') }}" method="post">
          <div class="form-group mb-2">
            <label for="username" class="sr-only mb-1">Meno</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-shadow" placeholder="Zadajte meno">
          </div>
          <div class="form-group mb-2">
            <label for="password" class="sr-only mb-1">Heslo</label>
             <input type="password" id="password" class="form-control input-shadow" name="_password" placeholder="Zadajte heslo">
          </div>
        {% if error %}
            <div>{{error.messageKey|trans(error.messageData, 'security')}}</div>
        {% endif %}

        <br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-dark btn-block">Prihlásiť sa</button>
        </div>

        </form>
      </div>
    </div>
  </div>
</div>




</body>
</html>
