{% extends 'admin/base.html.twig' %}

{% block title %}Pracovné ponuky{% endblock %}

{% block body %}


<a class="btn btn-success btn-block" href="{{ path('admin_offers_add') }}">Nová pracovná ponuka</a>

{% if allOffers %}
  <ul class="list-group mt-3">
  {% for offer in allOffers %}
    <li class="mb-2 list-group-item d-flex justify-content-between align-items-center admin-item-bottom">
      <span>{{ offer.name }}</span>
      <span>
        <a class="btn btn-secondary btn-block" href="{{ path('admin_offers_show', {"id": offer.id}) }}">Zobraziť reakcie</a>
        <a class="btn btn-primary btn-block" href="{{ path('admin_offers_edit', {"id": offer.id}) }}">Upraviť</a>
        <button type="button" class="btn btn-danger btn-block ml-auto" data-bs-toggle="modal" data-bs-target="{{ "#confirmationModal" ~ offer.id }}">Odstrániť</button>
      </span>
    </li>
  {% endfor %}
  </ul>

  {% for offer in allOffers %}{# Potvrdenie zmazania #}
    {% include 'admin/parts/confirmation-modal.html.twig' with {'id': offer.id, 'submitPath': path('admin_offers_delete', {"id": offer.id})} %}
  {% endfor %}
{% else %}
  <div class="text-center">Žiadne pracovné ponuky</div>
{% endif %}



{% endblock %}
