{% extends 'admin/base.html.twig' %}

{% block title %}
  {% if form.vars.value.id is not null %}
    Editácia pracovnej ponuky - {{ form.vars.value.name }}
  {% else %}
    Vytvorenie pracovnej ponuky
  {% endif %}
{% endblock %}

{% block body %}

{{ form(form) }}


{% endblock %}
