{% extends 'admin/base.html.twig' %}

{% block title %}Reakcie na pracovnú ponuku - {{ offer.name }}{% endblock %}

{% block body %}

{% if allOfferResponses %}
  <div class="table-wrapper">
    <table class="table table-striped table-bordered mt-3">
    <thead>
      <tr>
        <th>Meno a priezvisko</th>
        <th>Email</th>
        <th>Telefónne číslo</th>
        <th>Životopis</th>
      </tr>
    </thead>
    <tbody>
    {% for offerResponse in allOfferResponses %}
      <tr>
        <td>{{ offerResponse.name }}</td>
        <td>{{ offerResponse.email }}</td>
        <td>{{ offerResponse.phone }}</td>
        <td><a target="_blank" class="btn btn-primary btn-block" href="{{ asset('uploads/' ~ offerResponse.cvFile) }}">Link</a></td>

      {# Potvrdenie zmazania #}
      {#% include 'admin/parts/confirmation-modal.html.twig' with {'id': offer.id, 'submitPath': path('admin_offers_delete', {"id": offer.id})} %#}
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% else %}
  <div class="text-center">Žiadne reakcie na túto pracovnú ponuku</div>
{% endif %}



{% endblock %}
