{# templates/task/new.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}
  {% if form.vars.value.id is not null %}
    Editácia partnera - {{ form.vars.value.name }}
  {% else %}
    Vytvorenie partnera
  {% endif %}
{% endblock %}

{% block body %}

{{ form(form) }}


{% endblock %}
