{% extends 'admin/base.html.twig' %}

{% block title %}Partneri{% endblock %}

{% block body %}


<a class="btn btn-success btn-block" href="{{ path('admin_partners_add') }}">Nový partner</a>

{% if allPartners %}
  <div class="mt-3">
    <div class="row">
    {% for partner in allPartners %}
      <div class="col-12 col-md-4">
        <div class="mb-2 bg-white bg-white p-2 rounded">
          <img class="w-100" src="{{ asset('uploads/' ~ partner.logo) }}" alt="{{ partner.name }}" title="{{ partner.name }}" />

          <div class="d-flex justify-content-between align-items-center py-3 admin-item-bottom">
            <span class="partner-name">{{ partner.name }}</span>
            <span>
              <a class="btn btn-primary btn-block" href="{{ path('admin_partners_edit', {"id": partner.id}) }}">Upraviť</a>
              <button type="button" class="btn btn-danger btn-block ml-auto" data-bs-toggle="modal" data-bs-target="{{ "#confirmationModal" ~ partner.id }}">Odstrániť</button>
            </span>
          </div>

          {# Potvrdenie zmazania #}
          {% include 'admin/parts/confirmation-modal.html.twig' with {'id': partner.id, 'submitPath': path('admin_partners_delete', {"id": partner.id})} %}

        </div>
      </div>
    {% endfor %}
    </div>
  </div>



{% else %}
  <div class="text-center">Žiadny partneri</div>
{% endif %}



{% endblock %}
