{# templates/task/new.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}
  {% if form.vars.value.id is not null %}
    Editácia používateľa - {{ form.vars.value.username }}
  {% else %}
    Vytvorenie používateľa
  {% endif %}
{% endblock %}

{% block body %}


{{ form(form) }}


{% endblock %}
