{% extends 'admin/base.html.twig' %}

{% block title %}Správa používateľov{% endblock %}

{% block body %}


<a class="btn btn-success btn-block" href="{{ path('admin_add_user') }}">Nový používateľ</a>

{% if allUsers %}
  <ul class="list-group mt-3">
  {% for user in allUsers %}
    <li class="mb-2 list-group-item d-flex justify-content-between align-items-center admin-item-bottom">
      <span>{{ user.username }}</span>
      <span>
        <a class="btn btn-primary btn-block" href="{{ path('admin_edit_user', {"id": user.id}) }}">Upraviť</a>
        <button type="button" class="btn btn-danger btn-block ml-auto" data-bs-toggle="modal" data-bs-target="{{ "#confirmationModal" ~ user.id }}">Odstrániť</button>
      </span>
    </li>
  {% endfor %}
  </ul>

  {% for user in allUsers %}{# Potvrdenie zmazania #}
    {% include 'admin/parts/confirmation-modal.html.twig' with {'id': user.id, 'submitPath': path('admin_users_delete', {"id": user.id})} %}
  {% endfor %}
{% else %}
  <div class="text-center">Žiadny používatelia</div>
{% endif %}



{% endblock %}
