{% if partners %}
<div class="container-fluid">
    <div class="itc-pl itc-pr mb-2">
      <h2 class="py-3 mb-2">Naši partneri</h2>
      <div class="row">
      {% for partner in partners %}
        <div class="col-6 col-md-3 mb-4">
          <a class="partner-logo" target="_blank" href="{{ partner.link }}">
            <img class="w-100" src="{{ asset('uploads/' ~ partner.logo) }}" alt="{{ partner.name }}" title="{{ partner.name }}" />
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
</div>
<hr>
{% endif %}
