{% extends 'web_routing/base.html.twig' %}

{% block title %}Digitálne produkty{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/o-nas.css" />
{% endblock %}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          Kto vlastne sme a <br>
          <span>čo robíme?</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/ITRemFlr5tS39AzQUL" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>

    <!-- OBSAH -->
    <div class="main">

      <!--TIM-->
      <hr>
      <div class="container-fluid tiles">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="/img/team.jpeg" alt="Tím programátorov">
          </div>
          <div class="col-12 col-md-6">
              <h2>Kto je Interconnect?</h2>
              <p>
                <q>Sme skupina technicky nadaných a ambicióznych ľudí, ktorá sa nezľakne žiadnej výzvy!
                Špecializujeme sa v oblasti webových stránok, informačných systémov a cloudových riešení.
                Na trhu pôsobíme už 20 rokov a v našom remesle sa neustále zlepšujeme!</q><br><br>
                - CEO spoločnosti Interconnect
              </p>
          </div>
        </div>
      </div>
      <hr>

      <!--ČLENOVIA-->
      <div class="container-fluid text-center py-3">
        <h2 class="my-3">Náš tím</h2>
        <div class="row">
          <div class="col-lg-4 profile">
            <div class="profile-img" >
              <img src="/img/team/alfonz.jpg" alt="Alfonz">
            </div>

            <h3>Alfonz Mrkvička</h3>
            <p>Front-end Developer</p>
          </div>

          <div class="col-lg-4 profile">
            <div class="profile-img" >
              <img src="/img/team/alexander.jpg" alt="Alexander">
            </div>

            <h3>Alexander Ludvik</h3>
            <p>Back-end Developer</p>
          </div>

          <div class="col-lg-4 profile">
            <div class="profile-img" >
              <img src="/img/team/jozef.jpg" alt="Jozef">
            </div>

            <h3>Jozef Novotný</h3>
            <p>Grafický Dizajnér</p>
          </div>
        </div>
      </div>
      <hr>

      <!--BENEFITY-->
      <div class="container-fluid tiles">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="/img/benefits.jpg" alt="Práca firmy">
          </div>
          <div class="col-12 col-md-6">
              <h2>Medzi naše kľúčové hodnoty a benefity patrí:</h2>
              <ul>
                <li>partnerský vzťah s klientami</li>
                <li>uprednostňovanie kvality pre kvantitou</li>
                <li>rozširovanie si technologického obzoru</li>
                <li>dôkladnosť na detaily</li>
                <li>20 ročná skúsenosť na trhu</li>
              </ul>
          </div>
        </div>
      </div>
      <hr>

      <!--PARTNERI-->

    </div>

  {% endblock %}
