<!DOCTYPE html>
<html lang="sk" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INTERCONNECT | {% block title %}Digitálne produkty{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo-black.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/master.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!--NAVIGACIA-->
        <nav class="navbar navbar-dark navbar-expand-lg itc-pl" data-bs-theme="dark">
          {% set route = app.request.get('_route') %}
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.svg" alt="Interconnect logo" width="25">
              <span>INTERCONNECT</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link {% if route == 'web_routing_index' %}active{% endif %}" aria-current="page" href="/">Domov</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if route == 'web_routing_about' %}active{% endif %}" href="/o-nas">O nás</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if route == 'web_routing_information_systems' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Služby
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/informacne-systemy">Informačné systémy</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
              <a class="nav-link {% if route starts with 'web_routing_work_offer' %}active{% endif %}" href="/pracovne-ponuky">Pracovné ponuky</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!--OBSAH STRANKY-->
        {% block body %}{% endblock %}

        <!-- PATICKA -->
        <footer class="itc-pl">
          <div class="container-fluid">
            <p>&#169; 2023 • Marek Skukálek • Všetky práva vyhradené</p>
          </div>
        </footer>
    </body>
</html>
