{% extends 'web_routing/base.html.twig' %}

{% block title %}Digitálne produkty{% endblock %}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          Prepájame svet skrz <br>
          <span>digitálne produkty</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/U4FkC2VqpeNRHjTDQ5" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>

    <!-- OBSAH -->
    <div class="main">
      <hr>
      <div class="container-fluid tiles">
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/touch-screen.jpg" alt="Touch screen">
          </div>
          <div class="col-12 col-md-6">
            <h2>Profesionalita</h2>
            <p>Zanalyzujeme vaše predstavy a vízie, a následne navrhneme riešenie, ktoré najlepšie splní vaše požiadavky.</p>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/tech-interface.jpg" alt="Technology interface">
          </div>
          <div class="col-12 col-md-6">
            <h2>Efektívnosť</h2>
            <p>Pomôžeme vám automatizovať zložité procesy vašej firmy, zredukovať výdavky a získať viac zákazníkov.</p>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/product-support.jpg" alt="Product support">
          </div>
          <div class="col-12 col-md-6">
            <h2>Podpora</h2>
            <p>Po dokončení vašeho produktu vám zabezpečíme pravidelný servis a údržbu.</p>
          </div>

        </div>
      </div>
      <hr>

      {% include 'web_routing/parts/partners.html.twig' with {'partners': partners ?? []} %}

      <!--FAQ-->
      <div class="container-fluid">
        <div class="accordion accordion-flush itc-pl itc-pr" id="accordionExample">
          <h2 class="py-3">FAQ - Často kladené otázky</h2>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Koľko bude vytvorenie aplikácie stáť?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                 Cena produktu závisí od zložitosti projektu, konkrétnych funkcií, technických požiadaviek a dĺžky vývoja. Presnú cenovú ponuku vám poskytneme po podrobnej analýze vášho projektu.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Ako dlho bude trvať kým budem mať hotový produkt?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Podobne ako náklady, aj čas potrebný na vytvorenie softvéru závisí od konkrétneho projektu. Po analýze a návrhu riešenia vám vieme poskytnúť časovú os vývoja produktu a očakávaný termín dokončenia.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Aké technológie používate pri softvéru?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Používame rôzne technológie v závislosti od potrieb projektu, vrátane najmodernejších programovacích jazykov a frameworkov.
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>

{% endblock %}
