{% extends 'web_routing/base.html.twig' %}

{% block title %}Digitálne produkty{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/informacne-systemy.css" />
{% endblock %}

{% block javascripts %}
  <script src="/js/contact-form.js"></script>
{% endblock %}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          Tvorba informačných <br>
          <span>systémov na mieru</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/7FrOU9tPbgAZtxV5mb" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>

    <!-- OBSAH -->
    <div class="main">

      <!--Zakladne info-->
      <hr>
      <div class="container-fluid tiles">
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/information-system/landscape.jpg" alt="Sieť">
          </div>
          <div class="col-12 col-md-6">
            <h2>Čo je to informačný systém?</h2>
            <p>Informačný systém (IS) je systém na zber, udržiavanie, spracovanie a poskytovanie informácií. Príkladom informačného systému môže byť kartotéka, telefónny zoznam, kniha došlej pošty alebo účtovníctvo.</p>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/information-system/options.jpg" alt="Dotyková obrazovka">
          </div>
          <div class="col-12 col-md-6">
            <h2>Potrebujem informačný systém?</h2>
            <p>Keď chcete ušetriť náklady, zoptimalizovať a minimalizovať nadbytočné činnosti, je informatizácia nevyhnutná. Nejedná sa len o finančnú úsporu, ide o investíciu, ktorá posunie vašu firmu a zbaví vás často chybových a zdĺhavých manuálnych administratívnych činností.</p>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <img src="/img/information-system/notebook.jpg" alt="Notebook">
          </div>
          <div class="col-12 col-md-6">
            <h2>Ako zistím čo všetko by som v systéme potreboval?</h2>
            <p>V našej firme poskytujeme analýzu a vývoj informačných systémov presne pre potreby vašej spoločnosti. Nech je váš proces akokoľvek zložitý, dokážeme pre vás spraviť systém, ktorý vašu prácu sprehľadní a zjednoduší.</p>
          </div>

        </div>
      </div>
    </div>
    <hr>

    <!--EXAMPLES-->
    <div class="container-fluid">
      <div class="album itc-pl itc-pr">
        <h2 class="text-center my-5">Príklady informačných systémov</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-5">
          <div class="col">
            <div class="card shadow-sm">

              <img class="card-img-top" src="/img/information-system/b2b.jpg" alt="B2B">

              <div class="card-body">
                <h3>B2B systémy</h3>
                <p class="card-text">Softvér pre správu komunikácie a vzťahov medzi firmami.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">

              <img class="card-img-top" src="/img/information-system/medicine.jpg" alt="Medicína">

              <div class="card-body">
                <h3>Medicínsky softvér</h3>
                <p class="card-text">Systém pre uloženie a spracovanie medicínskych dát.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">

              <img class="card-img-top" src="/img/information-system/finances.jpg" alt="Financie">

              <div class="card-body">
                <h3>Finančná správa</h3>
                <p class="card-text">Systém zameraný na správu financií a transakcií firmy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <!--CONTACT-->
    <div id="contact" class="container-fluid">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/logo.svg" alt="" width="72" height="57">
        <h2 class="fw-bold">Zaujal vás informačný systém?</h2>
        <div class="col-lg-6 mx-auto">
          <p class="mb-4">
            Neváhajte sa nám ozvať ohľadom možnej konzultácie. Zanalyzujeme vaše potreby a požiadavky,
            a spolu navrhneme riešenie, ktoré vám bude najviac vyhovovať.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#contactModal">
              Napíšte nám
            </button>
            <a href="tel:+421900000000" class="btn btn-outline-secondary btn-lg px-4">Zavolajte</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade form-modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" >
            <h5 class="modal-title" id="exampleModalLongTitle">Kontaktný formulár</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div id="modalBody" class="modal-body">
            <!-- Kontakt formulár -->
            <form id="contactForm" method="post">
              <div class="form-group mb-3">
                <label class="mb-2" for="contactName">Meno a priezvisko</label>
                <input type="text" class="form-control" id="contactName" name="contactName" required>
              </div>
              <div class="form-group mb-3">
                <label class="mb-2" for="contactEmail">Email</label>
                <input type="email" class="form-control" id="contactEmail" name="contactEmail" required>
                <small id="contactEmailHelp" class="form-text text-secondary mt-1">Formát adresa@domena.sk</small>
              </div>
              <div class="form-group mb-3">
                <label class="mb-2" for="contactPhone">Telefónne číslo</label>
                <input type="tel" class="form-control" id="contactPhone" name="contactPhone" required pattern="^((\+4219)|(09))[0-9]{8}$" maxlength="13">
                <small id="contactPhoneHelp" class="form-text text-secondary mt-1">Formát +421 alebo 09</small>
              </div>
              <div class="form-group mb-3">
                <label class="mb-2" for="contactMessage">Správa</label>
                <textarea rows="4" class="form-control" id="contactMessage" name="contactMessage" required></textarea>
              </div>
              <small id="contactResponse" class="form-text text-danger d-none mt-1"></small>
            </form>

            <!--pohľad po odoslaní -->
            <div id="contactSent" class="text-center m-3 d-none">
             Váš správa bola odoslaná.
            </div>
          </div>



          <div id="modalFooter" class="modal-footer">
            <button id="contactSubmit" class="btn btn-primary" type="submit" form="contactForm">Odoslať</button>
          </div>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
