{% extends 'web_routing/base.html.twig' %}

{% block title %}Pracovné ponuky{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/css/pracovne-ponuky.css" />
{% endblock %}

{#% block javascripts %}
  <script type="text/javascript" src="/js/contact-form.js"></script>
{% endblock %#}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          Pridajte sa k nám a<br>
          <span>tvorte budúcnosť</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/TFPdmm3rdzeZ0kP3zG" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>

    <!-- OBSAH -->
    <div class="main">
      <hr>
      <div class="container-fluid">
        <div class="itc-pl itc-pr mb-5">
          <h2 class="text-center my-5">Voľné pracovné pozície</h2>
          {% if allOffers %}
            {% for offer in allOffers %}
              <hr>
              <div class="ponuka mb-2">
                <h3>{{ offer.name }}</h3>
                <div class="d-flex justify-content-between mb-2">
                  <p class="offer-desc">
                    {{ offer.summary }}
                  </p>
                  <div class="button-wrapper">
                    <a class="btn btn-info fw-bold" href="{{ path('web_routing_work_offer_detail', {"slug" : offer.slug})  }}">Zobraziť ponuku</a>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <i class="bi bi-cash-stack"></i>
                    <span class="px-2 fw-bold">{{ offer.salary }}€</span>
                  </div>
                  {% if offer.dueDate is not null %}
                    {% set difference = date(offer.dueDate).diff(date('now')).days + 1 %}
                    {% if difference == 1 %}
                      <span class="time-left">Zostáva {{ difference }} deň</span>
                    {% elseif difference < 5 %}
                      <span class="time-left">Zostávajú {{ difference }} dni</span>
                    {% else %}
                      <span class="time-left">Zostáva {{ difference }} dní</span>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="text-center mb-5">Práve teraz nemáme žiadne voľné pracovné pozície</div>
          {% endif %}
        </div>

      </div>

    </div>

    <hr>

{% endblock %}
