{% extends 'web_routing/base.html.twig' %}

{% block title %}Pracovná ponuka - {{ offer.name }}{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="/css/pracovna-ponuka-detail.css" />
{% endblock %}

{% block javascripts %}
  <script src="/js/work-offer-response.js"></script>
{% endblock %}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          Pracovná ponuka:<br>
          <span>{{ offer.name }}</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/ryyTSYVwxbJIpxtsJU" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>

    <!-- OBSAH -->
    <div class="main">
      <div class="container-fluid">
        <div class="itc-pl itc-pr mb-5">
          <hr>
          <h2 class="my-5">Informácie o pracovnom mieste</h2>
          <div class="offer-wrapper d-flex align-items-start">
            <div class="content mb-5 pr-5">
            {{offer.description}}
            </div>
            <div class="offer-info mb-3">
              <span class="fw-bold">{{ offer.name }}</span><br>

              Mzda:<br>
              <i class="bi bi-cash-stack"></i>
              <span class="px-1 fw-bold">{{ offer.salary }}€</span><br>
              Koniec výberového konania:<br>
              <i class="bi bi-calendar-check"></i>
              <span class="px-1 fw-bold">{{ offer.dueDate|date("d.m.Y") }}</span>
            </div>
          </div>

          <button id="openFormButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#responseModal">Reagovať na ponuku</button>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade form-modal" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModal" aria-hidden="true" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          {{ form_start(responseForm, {'attr': {'id': 'formWorkOfferResponse'}}) }}
          <div class="modal-header" >
            <h5 class="modal-title" id="exampleModalLongTitle">Reakcia na ponuku</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div id="modalBody" class="modal-body">
                <div id="formBody">
                      {{ form_row(responseForm.name) }}
                      {{ form_row(responseForm.email) }}
                      {{ form_row(responseForm.phone) }}
                      {{ form_row(responseForm.cvFile) }}
                      {{ form_row(responseForm.offerId, {'value': offer.id}) }}
                      {# pridaj aj CSRF token #}
                      {{ form_widget(responseForm._token) }}
                      <small id="apiResponse" class="form-text text-danger d-none mt-1"></small>
                </div>

                <!--pohľad po odoslaní -->
                <div id="formSent" class="text-center m-3 d-none">
                 Váš reakcia na ponuku bola odoslaná.<br> Ozveme sa vám čo najskôr.
                </div>
          </div>



          <div id="modalFooter" class="modal-footer">
            {{ form_row(responseForm.submit, { 'attr': {'form': 'formWorkOfferResponse'} })  }}
          </div>
          {{ form_end(responseForm, {render_rest: false}) }}
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
