@import "../_base";

body {
  padding-left: 20.5vw;
  background: rgba(0, 0, 0, .1);
  color: black;
  font-family: monospace;
  font-size: $px16;
}


.navbar-brand {
  display: inline-flex;
  span {
    font-size: 1.5vw;
  }
  img {
    margin-right: 0.75vw;
    width: 1.8vw;
  }
}

#sidebar {
  position: fixed;
  width: 20.5vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  margin-left: 0;
}


.mobile-navbar {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: $px24;
  margin-top: 1rem;
}

hr {
  color: black;
}

.partner-name {
  width: 25%;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 57px;
    padding-left: 0;
    font-size: $px16m;
  }
  #sidebar {
    width: 74.66vw;
    transition: .25s ease-in-out;
  }
  #sidebar.active {
    margin-left: -74.66vw;
  }
  .navbar-brand {
    span {
      font-size: 6vw;
    }
    img {
      margin-right: 2vw;
      width: 8vw;
    }
  }
  h1 {
    font-size: $px24m;
  }
  .mobile-navbar {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .admin-item-bottom {
    span {
      width: 50%;
      padding: 5px;
    }
    a, button {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .table-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
