{% extends 'web_routing/base.html.twig' %}

{% block title %}Táto stránka neexistuje{% endblock %}

{% block body %}
    <!-- HLAVNY BANNER -->
    <header>
      <div class="container-fluid">
        <h1>
          404 <br>
          <span>Stránka neexistuje</span>
        </h1>

        <div id="globe">
          <iframe src="https://giphy.com/embed/JsE9qckiYyVClQ5bY2" width="480" height="480" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </header>


{% endblock %}
